- if @node == node
  - if @geo_viewer.description.present?
    .htmlField= w @geo_viewer.description

  %ul
    %li.toggable
      = toggable_section_link('map_locations', t('geo_viewers.locations'), :element_type => :h3)
      #map_locations.toggable_section
        .content-section
          %p= t('geo_viewers.locations_description')
    
          %ul.nodes
            - @geo_viewer.nodes(@filters).each do |node|
              %li= link_to_node node.content.title, node, {}, :class => 'marker-link', :id => "marker-#{node.id}"                

    %li.toggable
      = toggable_section_link('map_filters', t('geo_viewers.filters'), :element_type => :h3)    
      #map_filters.toggable_section= render 'filters'
      
- else
  - geo_viewer = node.content
  - nodes      = geo_viewer.nodes({},{ :limit => 26 }) # Fetch the different marks

  - # Center the map on the default address when no marks are available
  - center     = nodes.empty? ? geo_viewer.map_settings[:center] : nil

  .description
    = static_map_of_addresses(nodes, { :width => 230, :height => 160, :center => center })
    
  = read_more_link(node.content)
