.geoViewer.regularPage
  %h1= @geo_viewer.title
  
  - unless @geo_viewer.has_own_content_representation?
    - if @geo_viewer.description.present?
      .htmlField= w @geo_viewer.description

  = @expl

  .buttons.clearfix
    = print_button
    .social_buttons
      = social_media_buttons(@geo_viewer)
