.geo-viewer.regularPage
  %h1= @geo_viewer.title
  
  - unless @geo_viewer.has_own_content_representation?
    - if @geo_viewer.description.present?
      .htmlField= w @geo_viewer.description

  .node_list.bulleted.clearfix
  - if @nodes.present?
    %ul
      - @nodes.each do |node|
        %li= link_to_content_node(node.content.title, node.content)

  .buttons.clearfix
    = print_button
    .social_buttons
      = social_media_buttons(@geo_viewer)
