- content_for :javascript do
  = GMap.header(:without_js => true).html_safe
  = javascript_include_tag 'devcms-geo'
  = calendar_date_select_includes :locale => :nl

.geoViewer.regularPage
  %h1= @geo_viewer.title
  
  - unless @geo_viewer.has_own_content_representation?
    - if @geo_viewer.description.present?
      .htmlField= w @geo_viewer.description
    
    = render 'filters'
      

  .gmap{ :id => "geo_viewer_#{@geo_viewer.id}" }
    = static_map_of_addresses(@nodes, { :center => @center, :bounds => @bounds, :width => nil, :height => nil })

  %noscript= @expl

  = raw @map.to_html

  .buttons.clearfix
    = print_button
    .social_buttons
      = social_media_buttons(@geo_viewer)
